<p-toast></p-toast>

<div class="grid grid-nogutter m-0 gap-2">
    <div class="col-12 p-2 md:p-3 bg-white border-round-xl shadow-1 flex align-items-center">
        <span class="text-lg font-bold">
            Product Management
        </span>
        <p-button label="Create" class="ml-auto" (click)="openCreateProductForm()"></p-button>
    </div>
    <div class="col-12 p-2 md:p-3 bg-white border-round-xl shadow-1">
        <p-table [value]="allProducts" [tableStyle]="{'min-width': '30rem'}" styleClass="p-datatable-gridlines">
          
            <ng-template pTemplate="header">
                <tr>
                    <th>Created On</th>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Brand Name</th>
                    <th>Price</th>
                    <th>Assigned Price</th>
                    <th>Unit</th>
                    <th>Action</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{item?.createdOn | date:'dd-MMM-yyyy'}}</td>
                    <td>
                        <img 
                            *ngIf="item.image"
                            [src]="item.image"
                            width="70"
                            class="border-round">
                    </td>
                    <td>{{item?.productName | uppercase }}</td>
                    <td>{{item?.brandName | uppercase }}</td>
                    <td>₹{{item?.price}}</td>
                    <td>₹{{item?.assignedPrice}}</td>
                    <td>{{item?.unitName | uppercase }}</td>
                    <td>
                        <div class="flex align-items-center gap-2">
                            <p-button label="Update" styleClass="p-button-success" (click)="editProduct(item)"></p-button>
                            <p-button label="Delete" styleClass="p-button-danger" (click)="deleteProduct(item.id)"></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>          
            <ng-template pTemplate="emptymessage">
                <tr>
                   <td colspan="10" class="text-center font-bold">No Data Available</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog 
    [header]=" editMode ? 'Update Product' : 'Create Product' " 
    [(visible)]="productFormVisible" 
    [modal]="true" 
    [responsive]="true" 
    (onHide)="hideProductForm()"
    [style]="{width: '40vw', maxHeight: '80vh'}"
    [maximizable]="false">
    <div>
        <form [formGroup]="productForm" (ngSubmit)=" editMode ? updateProduct() :createProduct()" >
            <div class="grid m-0">
                <div class="field mb-0 col-12 md:col-4">
                    <label for="">Product Name</label>
                    <input 
                        pInputText
                        placeholder="Enter Product Name"
                        type="text" 
                        formControlName="productName" 
                        class=" border-1 border-blue-200 outline-none p-2 border-round-xs" >
                </div>
                <div class="field mb-0 col-12 md:col-4">
                    <label for="">Brand Name</label>
                    <input 
                        pInputText  
                        placeholder="Enter Brand Name"
                        type="text" 
                        formControlName="brandName" 
                        class=" border-1 border-blue-200 outline-none p-2 border-round-xs" >
                </div>
                <div class="field mb-0 col-12 md:col-4">
                    <label for="" class="block">Unit</label>
                    <p-dropdown 
                        [options]="allUnits" 
                        formControlName="unitName"                         
                        optionValue="unitName" 
                        placeholder="Select Unit" 
                        optionLabel="unitName"
                        [showClear]="false">
                    </p-dropdown>
                </div>
                <div class="field mb-0 col-12 md:col-4">
                    <label for="">Price</label>
                    <input 
                        pInputText  
                        placeholder="Enter Price"
                        type="number" 
                        formControlName="price" 
                        class="border-1 border-blue-200 outline-none p-2 border-round-xs" >
                </div>
                <div class="field mb-0 col-12 md:col-4">
                    <label for="">Assigned Price</label>
                    <input 
                        pInputText  
                        placeholder="Enter Assigned Price"
                        type="number" 
                        formControlName="assignedPrice" 
                        class="border-1 border-blue-200 outline-none p-2 border-round-xs" >
                </div>
                <div>
                    <label for="">Image</label>
                    <input 
                    type="file"
                    accept="image/*"
                    (change)="onImageSelect($event)">

                </div>
                <div class="col-12 flex w-full">
                    <p-button 
                        [label]="editMode ? 'Update' : 'Create' " 
                        class="ml-auto" 
                        type="submit">
                    </p-button>
                </div>
            </div>
        </form>
    </div>
</p-dialog>
