.estimate-container {
  display: flex;
  gap: 20px;
}

.product-list{
  width: 50%;
  min-height: 400px;      
}

.estimate-list {
  width: 50%;
  min-height: 400px;      
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-list-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    align-items: flex-start;    
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;        
  cursor: grab;
  height: 100%;
}

.product-card img {
  width: 50px;  
  object-fit: contain;
}

.estimate-row {
  align-items: center;
  padding: 8px;
  background: white;
  border-radius: 6px;
  margin-bottom: 8px;
}

.estimate-row input {
  width: 60px;
}

.grand-total {
  margin-top: 15px;
  font-size: 18px;
  text-align: right;
}
