<p-toast></p-toast>

<div class="border-round-xl bg-white shadow-1 p-3 mb-2">
  <span class="font-bold text-blue-300 inline-block mb-2">Enter Details</span>

  <div class="mb-2 flex align-items-center gap-2">
    <input type="text" [(ngModel)]="customerName" class="" placeholder="Enter Customer Name">
    <input type="text" [(ngModel)]="customerContactNumber" class="" placeholder="Enter Contact Number">
  </div>
</div>

<div class="border-round-xl bg-white shadow-1 p-3">
  <span class="font-bold text-blue-300 inline-block mb-2">Add Products</span>

<div class="estimate-container">

  <!-- LEFT: PRODUCTS -->
  <div
    class="product-list bg-white border-1 border-blue-100 p-3 border-round-xl"
    cdkDropList
    #productList="cdkDropList"
    [cdkDropListData]="allProducts"
    [cdkDropListConnectedTo]="['estimateList']"
  >
    <div class="flex w-full align-items-center justify-content-center my-3">
      <span class="font-bold">PRODUCTS</span>
    </div>

    <div class="product-list-container">
        <div
            class="product-card p-2 border-1 border-blue-50 shadow-1 border-round"
            *ngFor="let product of allProducts"
            cdkDrag
            >
            <img [src]="product.image" />
            <div class="flex flex-column gap-2 justify-content-center align-items-center">
                <div class="flex align-items-center gap-2 text-sm text-bluegray-400">
                    <span>{{ product.productName | uppercase }}</span>
                    <span *ngIf="product.brandName">({{ product.brandName | uppercase}})</span>
                </div>
                <span class="text-bluegray-500">₹ {{ product.assignedPrice }}</span>
            </div>
        </div>
    </div>
  </div>

  <!-- RIGHT: ESTIMATE -->
  <div
    class="estimate-list bg-white border-1 border-blue-100 p-3 border-round-xl"
    cdkDropList
    id="estimateList"
    [cdkDropListData]="estimateItems"
    [cdkDropListConnectedTo]="[productList]"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="flex w-full align-items-center justify-content-center my-3">
      <span class="font-bold">ESTIMATE</span>
    </div>

    <div
      class="estimate-row grid m-0 "
      *ngFor="let item of estimateItems let i = index"
    >
      <span class="col-5">
        <div class="flex align-items-center gap-2">
            <img [src]="item.image" width="50" alt="">
            <span>{{ item.productName | uppercase }}</span>
        </div>
      </span>

      <div class="col-3 grid grid-nogutter align-items-center">
        <span class="col-4">{{item.assignedPrice}}</span>
        <span class="col-2">X</span>
        <div class="col-6">
            <input
                type="number"
                class="w-full outline-none p-2 border-1 border-blue-100"
                min="1"
                [(ngModel)]="item.qty"
                (input)="updateTotal(item)"
            />
        </div>
      
      </div>

      <span class="col-3 flex align-items-center justify-content-end">
        <span>₹ {{ item.total }}</span>
      </span>

      <span class="col-1">
        <i  (click)="removeItem(i)" class="fa-solid fa-trash text-red-500 cursor-pointer"></i>
      </span>
    </div>

    <div class="grand-total mt-auto">
      <strong>Grand Total: ₹ {{ getGrandTotal() }}</strong>
    </div>
  </div>  

</div>

<div class="my-3 w-full text-right">
    <p-button label="Save" (click)="saveEstimate()"></p-button>
  </div>
</div>


